<!DOCTYPE html>
<html>

<head>
  <!-- Site made with Mobirise Website Builder v4.9.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="Web Page Generator Description">
  <title>Bij POI</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
</head>

<body>
  <section class="toggle2 cid-rjz40CflOi" id="toggle2-n">
    <div class="mbr-fullscreen">
      <h2 id="name" class="mbr-section-title pb-3 align-left mbr-fonts-style display-3"></h2>
      <div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content pt-5 mt-2">
      </div>
    </div>
  </section>


  <section class="engine"><a href="https://mobirise.info/b">how to create your own website</a></section>
  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script id="questions-list-generator" type="text/x-handlebars-template">
    \{{#list questions}}
        <summary onclick="playAudio('\{{audioUrl}}')">\{{name}}</summary>
        <br/>
    \{{/list}}
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.js"></script>
  <script src="/javascripts/guide.js"></script>

  <input name="animation" type="hidden">
</body>

</html>